.products {
    padding: 0 49px;
    margin-top: 20px;
   
    overflow: scroll;
    height: 70vh;
}
.headings{
    background-color: rgb(231, 230, 230);
    padding: 10px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    /* height: 50px; */
}
.headings span{
    font-size: 16px;
    font-weight: bold;
}
.name{
    width: 337px;
    justify-content: flex-start;
    /* margin: 0 10px; */
}
span.price {
    width: 107px;
   
}
span.quantity {
    width: 102px;
    
}
span.rating {
    width: 74px;
    
}
span.sales {
    
    width: 102px;
}
.products button {
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}
.name{
    width: 337px;
    display: flex;
    justify-content: flex-start;align-items: center;
   
   /* margin: 0 10px; */
}
.name2{
    width: 200px;
    display: flex;
    justify-content: flex-start;align-items: center;
}
img{
    width: 32px;
    margin: 0 7px;
    height: 32px;
    
}
span.price {
    width: 107px;
    
}
span.quantity {
    width: 102px;
    
}
span.rating {
    width: 74px;
   
}
span.sales {
   
    width: 102px;
}
span.id{
    width: 40px;
}
.email,.phone{
    width: 199px;
}

.name2 img{
    border-radius: 50%;
    background-color: gray;
}