/* .sales{
    padding: 0 49px;
    margin-top: 20px;
    overflow: scroll;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container2 {
    width: 492px;
    height: 400px;
    background-color: rgb(210, 210, 210);
    margin: 0 10px 10px 0;
    border-radius: 10px;
} */